body {
    background-color: #d7c0d8;
    /*
    margin: 0;
    padding: 0;
    */
}

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

.bungee-tint {
    font-family: "Bungee Tint", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

h1 {
    color: purple;
    font-size: 80px;
}